@use './partials/vars' as *;
@import 'bootstrap/scss/bootstrap';
@import 'swiper/css';

@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

#app{
    color: $color_white;
}

.mc-container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}