@use './partials/vars' as *;
@import 'bootstrap/scss/bootstrap';
@import 'swiper/css';

@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    height: 100vh;
}

#app{
    color: $color_white;
}

h1,
h2,
h3,
h4,
h6{
    font-weight: 700;
}

.mc-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    vertical-align: middle;
}

h2{
    font-size: 40px;
}

h5{
    color: $color_red;
}

.team-image{
    height: 120px;
}

.vs-image{
    width: 40px;
    height: 40px;
}

.mc-buttons,
.mc-buttons-reverse{
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
     cursor: pointer;
}

.mc-buttons{
    background-color: $color_white;
    color: $color_red;
    box-shadow: 4px 4px $color_red;

    &:hover{
        background-color: $color_red;
        color: $color_white;
        box-shadow: -4px -4px $color_white;
        transition: all .3s;
    }
}

.mc-buttons-reverse{
    background-color: $color_red;
    color: $color_white;
    box-shadow: 3px 3px #555;

    &:hover{
        background-color: $color_white;
        color: $color_red;
        box-shadow: -4px -4px $color_red, 3px 3px 3px #555;
        transition: all .3s;
    }
}

.mc-buttons {
    i{
        color: $color_red;
        border-radius: 50%;
        padding: 1px 2px;
    }

    &:hover{
      background-color: $color_red;
      box-shadow: -4px -4px $color_white;
      transition: all .3s;
      color: $color_white;
    }

    &:hover i{
        color: $color_white;
    }
}

p,span{
    font-family: 'Barlow', sans-serif;
}

#app{
    position: relative;
}

.animated{
    cursor: pointer;
    &:hover{
        transform: rotateY(360deg);
        transition: all 1s;
    }
}
