@use './partials/vars' as *;
@import 'bootstrap/scss/bootstrap';
@import 'swiper/css';

@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    height: 100vh;
}

#app{
    color: $color_white;
}

.mc-container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    vertical-align: middle;
}

h2{
    font-size: 40px;
    font-weight: 700;
}

h5{
    color: $color_red;
}

.team-image{
    height: 120px;
}

.vs-image{
    width: 40px;
    height: 40px;
}

.mc-buttons{
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    background-color: $color_white;
    color: $color_red;
    cursor: pointer;
}
